.boardPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}

.skeletonContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.skeletonContainer > div:nth-child(1) {
  left: 100px;
  top: 100px;
}

.skeletonContainer > div:nth-child(2) {
  left: 450px;
  top: 150px;
}

.skeletonContainer > div:nth-child(3) {
  left: 200px;
  top: 400px;
}
